@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* Default Color Style */

:root {
    --primary-color: #007af3;
    --hover-color: #b59ced;
}

/* Body & Heading Style */

body {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    color: #000000;
}

h1 {
    font-family: 'Open Sans';
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
}

h2 {
    font-family: 'Open Sans';
    font-size: 45px;
    font-weight: 700;
    color: #000000;
}

h3 {
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 700;
    color: #000000;
}

h4 {
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 700;
    color: #000000;
}

h5 {
    font-family: 'Open Sans';
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

h6 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

/* Container & Flex Utility Style*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: visible;
    padding: 0 100px;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    height: 100%;
}

/* Grid Utility Style - For Portfolio Gallery Section */

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-gap: 25px;
}

/* Header Style */

.header {
    background: #181433;
    height: 80px;
}

.header .flex {
    justify-content: space-between;
    align-items: center;
}

.header .primary-menu {
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    cursor: pointer;
}

/* Primary Menu, Color, Font Style */

.primary-menu, ul, a {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin: 0 12px;
}

.primary-menu, ul, a:hover {
    color: var(--hover-color);
    transition: all .3s ease;
}

/* Default Button Style */

.button {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    margin: 60px 0;
}

.button:hover {
    background: #ffffff;
    color: #181433;
    transition: all .3s ease;
}

/* First Section Style */

.first-section {
    background: #f6f9ff;
    padding: 80px 0;
}

.first-section p {
    margin-bottom: 30px;
}

.first-section h1 {
    color: #181433;
}

.first-section h6 {
    margin: 15px 0;
}

.first-section .button {
    background: #181433;
    color: white;
    padding: 14px 25px;
    border: none;
}

/* Second Section Style */

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(second-section-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.second-section h1 {
    color: #181433;
}

.second-section h6 {
    margin: 15px 0;
}

.second-section .button {
    background: #181433;
    color: white;
    padding: 14px 25px;
    border: none;
}

.second-section .second-first-coloumn {
    width: 90%;
}

#paragraph-background {
    background: #f6f9ff;
    padding: 25px;
    border-radius: 20px;
    border-left: 6px solid #181433;
    margin-left: 30px;
}

/* My Skills Section Style */

.my-skills-section {
    padding: 30px 0 80px 0;
}

.myskills-sub-heading, .myskills-heading {
    color: #181433;
}

.skills-lable {
    margin-bottom: 10px;
}

.myskills-first-row {
    padding: 0 0 30px 0;
}

.myskills {
    padding: 0;
}

.skills {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0px 2px 8px 0px #c7d7e7;
}

.wordpress, .elementor, .html-css {
    background: #129905;
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    padding: 0 0 0 10px;
}

.myskills {
    grid-gap: 40px;
    padding: 0;
}

/* Third Section Style */

.third-section {
    padding: 10px 0 80px 0;
}

.third-sub-heading, .third-heading {
    color: #181433;
}

.third-second {
    margin-top: 20px;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Fourth Section Style */

.fourth-section {
    padding: 0 0 80px 0;
}

.fourth-second-row .container {
    margin-top: 20px;
    gap: 30px;
}

.box {
    background: #f6f9ff;
    box-shadow: 0px 2px 12px 0px #d4d9de;
    padding: 40px 30px 40px 30px;
    border-radius: 25px;
    margin: 10px 0 10px 0;
    text-align: center;
}

.fourth-sub-heading, .fourth-heading {
    color: #181433;
}

.client-post-heading {
    font-weight: 600;
    font-size: 14px;
    margin: 8px;
}

/* Five Section - Email Subscribe Style */

.five-section {
    padding-bottom: 80px;
    align-content: center;
}

.five-section .container {
    width: 850px;
    justify-content: flex-start;
    padding: 0;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 2px 12px 0px #d4d9de;
    border-radius: 25px;
}

.five-first {
    margin-bottom: -10px;
}

.five-second {
    margin: 0 0 0 40px;
}

.five-sub-heading {
    font-size: 14px;
}

.five-heading {
    font-size: 18px;
}

.five-second input[type=text] {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    font-size: 15px;
    border: 1px solid rgb(202, 202, 202);
}

::placeholder {
    font-family: 'Open Sans';
    font-size: 14px;
}

.five-second .button {
    background: transparent;
    color: #181433;
    border: 2px solid #181433;
    border-radius: 10px;
    padding: 6px 18px;
    margin: 15px 0 0 0;
    font-size: 14px;
}

.five-second .button:hover {
    background: #181433;
    color: #ffffff;
}

/* Footer Style */

.footer {
    background: #181433;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.footer h6 {
    font-size: 15px;
    font-weight: 600;
    color: white;
}
